h2 {
  font-family: 'proxima-lt';
  font-style: normal;
  font-size: 1rem;
  font-weight: 600;
  line-height: 120%;
  color: var(--white);
}

p,
label {
  font-family: 'proxima-lt';
  font-style: normal;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 145%;
  letter-spacing: -0.005em;
  color: var(--white);
  opacity: 0.7;
}

button {
  cursor: pointer;
}

input[type='email']:focus,
input[type='email']:focus-visible {
  outline: 2px solid var(--spirit-stone);
}

input[type='checkbox']:focus-visible + .checkbox__check,
input[type='checkbox']:focus + .checkbox__check {
  border: 2px solid var(--spirit-stone);
}

.main-button--submit:focus-visible {
  outline: 2px solid var(--spirit-stone);
}

.close-button.desktop {
  display: none;
  height: 2rem;
  width: 2rem;
  background: var(--dark-700);
  border: 1px solid transparent;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.main-input {
  box-sizing: border-box;
  background: var(--dark-700);
  color: var(--white);
  padding: 13px 20px;
  width: 100%;
  border: none;
  border-radius: 6px;
}

.main-input:hover {
  outline: 2px solid var(--spirit-stone);
}

.main-input:hover + .main-button--arrow {
  top: 6px;
  border: 2px solid var(--spirit-stone);
  border-left: none;
  right: -2px;
}

.main-button {
  background-color: var(--spirit-stone);
  padding: 15px 36px;
  border: none;
  outline: none;
  border-radius: 6px;
  color: var(--dark);
  display: block;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 700;
  width: 100%;
}

.main-button--arrow {
  background: var(--dark-700);
  border: none;
  position: absolute;
  right: 0px;
  top: 8px;
  padding: 7px 12px;
  border-radius: 0 6px 6px 0;
  box-sizing: border-box;
}

.main-button--arrow svg {
  stroke: var(--white);
}

.main-button--arrow svg path {
  stroke: inherit;
}

.main-button--submit {
  display: none;
  background-color: var(--dark-700);
  color: var(--grey);
  opacity: 1;
}

.close-button {
  background-color: transparent;
  border: none;
}

.close-button__text {
  color: var(--white);
  opacity: 1;
  margin: 0;
}

.exit-intent-popup {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  transform: translateY(60%) scale(0);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.exit-intent-popup.visible {
  visibility: visible;
  transform: translateY(0) scale(1);
}

.exit-intent-inner {
  min-height: 470px;
  max-height: 660px;
  width: 262px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--dark-850);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 5px 10px #304445;
}

.exit-intent-inner .ebook {
  height: 207px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  position: relative;
}

.exit-intent-inner .ebook .gradient {
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.1) 0%, rgba(0, 0, 0, 0.83) 97.92%);
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  border-radius: 16px 16px 0 0;
}

.exit-intent-inner .ebook img {
  width: 100%;
  height: 100%;
}

.exit-intent-inner .content {
  flex: 1;
  padding: 24px 0 32px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exit-intent-inner .content .title {
  margin-top: -50px;
  padding: 0 10px;
  text-align: center;
  z-index: 1;
  background-color: var(--dark-850);
  box-shadow: 0 -20px 40px var(--dark-850);
}

.exit-intent-inner .content .description {
  margin: 16px 0 0;
  text-align: center;
}

.exit-intent-inner .content .lead-form {
  width: calc(100% - 32px);
}

.exit-intent-inner .content .lead-form .form-group {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.exit-intent-inner .content .lead-form .form-group .email-label {
  display: none;
  color: var(--white);
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  opacity: 1;
}

.exit-intent-inner .content .lead-form .form-group input[type='email'] {
  width: calc(100% - 40px);
  margin-top: 8px;
}

.exit-intent-inner .content .lead-form .form-group input[type='email'].error {
  outline: 2px solid var(--error);
}

.exit-intent-inner .content .lead-form .form-group input[type='email'].error + .main-button--arrow {
  border: 2px solid var(--error);
  border-left: none;
  top: 6px;
  right: -2px;
}

.exit-intent-inner .content .lead-form .form-group input[type='checkbox'].error + .checkbox__check {
  border: 2px solid var(--error);
  opacity: 1;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0 0;
}

.checkbox input {
  opacity: 0;
  position: absolute;
  left: 9999px;
  bottom: 9999px;
}

.checkbox input:checked + .checkbox__check {
  border: 2px solid var(--spirit-stone);
  position: relative;
  opacity: 1;
}

.checkbox input:checked + .checkbox__check:before {
  content: '';
  position: absolute;
  left: 3px;
  bottom: 5px;
  width: 4px;
  height: 2px;
  background-color: var(--spirit-stone);
  transform: rotateZ(45deg);
}

.checkbox input:checked + .checkbox__check:after {
  content: '';
  position: absolute;
  right: 2px;
  bottom: 6px;
  width: 8px;
  height: 2px;
  background-color: var(--spirit-stone);
  transform: rotateZ(-55deg);
}

.checkbox__check {
  width: 14px;
  height: 14px;
  border-radius: 4px;
  border: 2px solid var(--white);
  background: transparent;
  margin-right: 8px;
}

.checkbox__text {
  font-size: 0.75rem;
  opacity: 1;
}

.main-input--checkbox {
  max-width: 15px;
}

@media (min-width: 390px) {
  .exit-intent-inner .ebook {
    height: 230px;
  }

  .main-button--submit {
    display: block;
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 150%;
  }

  .exit-intent-inner .content .lead-form .form-group input[type='email'] {
    width: 100%;
  }

  .main-button--arrow {
    display: none;
  }

  .exit-intent-inner {
    width: 325px;
  }

  .exit-intent-inner .content {
    padding: 24px 16px;
  }
}

@media (min-width: 768px) {
  .exit-intent-inner {
    width: 480px;
    max-height: 1000px;
  }

  .exit-intent-inner .ebook {
    height: 320px;
  }

  .exit-intent-inner .content {
    padding: 52px 46px;
  }

  .exit-intent-inner .content .title {
    margin-top: -100px;
    font-size: 1.25rem;
  }

  .exit-intent-inner .content .description {
    font-size: 1rem;
    margin-top: 0;
  }

  .main-button {
    font-size: 1rem;
  }

  .checkbox {
    justify-content: flex-start;
  }

  .close-button__text {
    font-size: 1rem;
  }
}

@media (min-width: 1440px) {
  h2 {
    font-size: 1.5rem;
  }

  p,
  label {
    font-size: 1.125rem;
  }

  .close-button.desktop {
    display: flex;
    position: absolute;
    right: 24px;
    top: 24px;
  }

  .exit-intent-inner {
    flex-direction: row;
    min-height: 504px;
    min-width: 840px;
    border-radius: 16px;
  }

  .exit-intent-inner .ebook {
    height: 504px;
    width: 318px;
    border-radius: 16px 0 0 16px;
  }

  .exit-intent-inner .ebook img {
    height: 100%;
    border-radius: 16px 0 0 16px;
  }

  .exit-intent-inner .ebook .gradient {
    display: none;
  }

  .exit-intent-inner .content {
    /* max-width: 458px; */
    /* margin: unset; */
    padding: 72px 56px 48px 66px;
    align-items: flex-start;
  }

  .exit-intent-inner .content .title {
    /* max-width: 404px; */
    margin: 0 60px 16px 0;
    padding: 0;
    text-align: left;
  }

  .exit-intent-inner .content .description {
    /* max-width: 404px; */
    /* margin-top: 16px; */
    text-align: left;
    font-size: 1.125rem;
  }

  .exit-intent-inner .content .lead-form .form-group {
    /* width: 404px; */
    display: flex;
    flex-direction: column;
  }

  .exit-intent-inner .content .lead-form .form-group button {
    width: 100%;
  }

  .exit-intent-inner .content .lead-form .form-group .email-label {
    display: block;
    font-size: 1rem;
    margin-bottom: -6px;
  }

  .checkbox {
    margin-top: 30px;
  }

  .checkbox__check {
    margin: 0 23px 0 0;
  }

  .checkbox__text {
    font-size: 0.875rem;
  }

  .main-button--submit {
    margin: 0;
    padding: 12px 0;
  }

  .close-button {
    display: none;
  }

  .exit-intent-inner .content .lead-form {
    width: 99%;
  }
}
